name: Deploy to Google Cloud

on:
  push:
    branches:
      - main
    paths:
      - 'src/stuperml/**'
      - 'configs/src/configs**'
      - 'dockerfiles**'
  pull_request:
    branches:
      - main
    paths:
      - 'src/stuperml/**'
      - 'configs/src/configs**'
      - 'dockerfiles**'


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3

      - name: Submit Build
        run: gcloud builds submit .